<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bhagavad Gita Shlok</title>
    <link rel="stylesheet" href="style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <div class="search-bar">
        <form action="/search/<%= data.ChapNum %>" method="post">
          <input
            type="text"
            name="ShlokId"
            placeholder="Search Shlok By Number"
          />
          <button type="submit">Search</button>
        </form>
      </div>

      <div class="content">
        <h1>Chapter <span><%= data.ChapNum %></span></h1>
        <h2>Shlok <span><%= data.verseNum %></span></h2>
        <div class="shlok"><%= data.shlok %></div>
        <div class="translation"><%= data.translation %></div>
      </div>

      <div class="button-group">
        <a
          href="/chapter/<%= data.ChapNum %>/<%= data.verseNum - 1 %>"
          class="button"
          >Previous</a
        >
        <a
          href="/chapter/<%= data.ChapNum %>/<%= data.verseNum + 1 %>"
          class="button"
          >Next</a
        >
      </div>
      <a href="/" class="all-chapters">All Chapters</a>
    </div>
  </body>
</html>
