<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bhagavad Gita Shlok</title>
    <link rel="stylesheet" type="text/css" href="/card.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <div class="search-bar">
        <form action="/search/<%= data.ChapNum %>" method="post">
          <input
            type="text"
            name="ShlokId"
            placeholder="Search Shlok By Number"
          />
          <button type="submit">Search</button>
        </form>
      </div>

      <div class="content">
        <h1>Chapter <span><%= data.ChapNum %></span></h1>
        <h2>Shlok <span><%= data.verseNum %></span></h2>
        <div class="shlok"><%= data.shlok %></div>
        <div class="translation"><%= data.translation %></div>
      </div>

      <div class="button-group">
        <!-- Previous Button -->
        <a
          href="/chapter/<%= data.ChapNum %>/<%= data.verseNum - 1 %>"
          style="
            display: inline-block;
            text-align: center;
            padding: 10px 15px;
            background-color: #3498db;
            color: white;
            border-radius: 10px;
            font-size: 1rem;
            font-weight: 600;
            text-decoration: none;
            transition: background-color 0.3s ease;
          "
          onmouseover="this.style.backgroundColor='#217dbb'"
          onmouseout="this.style.backgroundColor='#3498db'"
        >
          Previous
        </a>

        <!-- Next Button -->
        <a
          href="/chapter/<%= data.ChapNum %>/<%= data.verseNum + 1 %>"
          style="
            display: inline-block;
            text-align: center;
            padding: 10px 15px;
            background-color: #3498db;
            color: white;
            border-radius: 10px;
            font-size: 1rem;
            font-weight: 600;
            text-decoration: none;
            transition: background-color 0.3s ease;
          "
          onmouseover="this.style.backgroundColor='#217dbb'"
          onmouseout="this.style.backgroundColor='#3498db'"
        >
          Next
        </a>
      </div>

      <!-- All Chapters Button -->
      <a
        href="/"
        style="
          display: inline-block;
          margin-top: 10px;
          padding: 10px 15px;
          background-color: #e74c3c;
          color: white;
          text-decoration: none;
          border-radius: 10px;
          font-size: 1rem;
          font-weight: 600;
          transition: background-color 0.3s ease;
        "
        onmouseover="this.style.backgroundColor='#c0392b'"
        onmouseout="this.style.backgroundColor='#e74c3c'"
      >
        All Chapters
      </a>
    </div>
  </body>
</html>
