<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bhagawat Gita</title>
  <link rel="stylesheet" type="text/css" href="/main.css">
</head>
<body>
  <div class="container">
    <h1>All Chapters</h1>
    <div class="chapter-list">
      <ul>
          <li><a href="/chapter/<%=chapters[0]%>" >Chapter 1: Arjuna Vishada Yoga</a></li>
          <li><a href="/chapter/<%=chapters[1]%>" >Chapter 2: Sankhya Yoga</a></li>
          <li><a href="/chapter/<%=chapters[2]%>" >Chapter 3: Karma Yoga</a></li>
          <li><a href="/chapter/<%=chapters[3]%>" >Chapter 4: Jnana Yoga</a></li>
          <li><a href="/chapter/<%=chapters[4]%>" >Chapter 5: Karma Vairagya Yoga</a></li>
          <li><a href="/chapter/<%=chapters[5]%>" >Chapter 6: Abhyasa Yoga</a></li>
          <li><a href="/chapter/<%=chapters[6]%>" >Chapter 7: Paramahamsa Vijnana Yoga</a></li>
          <li><a href="/chapter/<%=chapters[7]%>" >Chapter 8: Aksara Brahma Yoga</a></li>
          <li><a href="/chapter/<%=chapters[8]%>" >Chapter 9: Raja Vidya Raja Guhya Yoga</a></li>
          <li><a href="/chapter/<%=chapters[9]%>" >Chapter 10: Vibhuti Yoga</a></li>
          <li><a href="/chapter/<%=chapters[10]%>" >Chapter 11: Vishvarupa Darshana Yoga</a></li>
          <li><a href="/chapter/<%=chapters[11]%>" >Chapter 12: Bhakti Yoga</a></li>
          <li><a href="/chapter/<%=chapters[12]%>" >Chapter 13: Kshetra Kshetragna Vibhaga Yoga</a></li>
          <li><a href="/chapter/<%=chapters[13]%>" >Chapter 14: Gunatraya Vibhaga Yoga</a></li>
          <li><a href="/chapter/<%=chapters[14]%>" >Chapter 15: Purushottama Yoga</a></li>
          <li><a href="/chapter/<%=chapters[15]%>" >Chapter 16: Daivasura Sampad Vibhaga Yoga</a></li>
          <li><a href="/chapter/<%=chapters[16]%>" >Chapter 17: Sraddhatraya Vibhaga Yoga</a></li>
          <li><a href="/chapter/<%=chapters[17]%>" >Chapter 18: Moksha Sannyasa Yoga</a></li>
      </ul>
    </div>
  </div>
</body>
</html>